#info {
    font-size: 20px;
}
    
#div_start {
    float: right;
}
    
#headline {
    text-decoration: none
}
    
#results {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    min-height: 150px;
}

#start_button {
    border: 0;
    background-color:transparent;
    padding: 0;
}

.interim {
    color: gray;
}
    
.final {
    color: black;
    padding-right: 3px;
}
    
.button {
    display: none;
}
    
.marquee {
    margin: 20px auto;
}

#buttons {
    margin: 10px 0;
    position: relative;
    top: -50px;
}

#copy {
    margin-top: 20px;
}

#copy > div {
    display: none;
    margin: 0 70px;
}

a.c1 {
    font-weight: normal;
}

* { 
    margin: 
    0; 
    padding: 
    0; 
    box-sizing: 
    border-box; 
}
      
body { 
    font: 13px Helvetica, Arial; 
}
    
form { 
    background: #000; 
    padding: 3px; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}
    
form input { 
    border: 0; 
    padding: 10px; 
    width: 90%; 
    margin-right: .5%; 
}
    
form button { 
    width: 9%; 
    background: rgb(130, 224, 255); 
    border: none; 
    padding: 10px; 
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

#messages li { 
    padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
    background: #eee; 
}